Для проверки соответствия параметра host формату https://example.com была использована библиотека "re".
Я попробовал использовать регулярные выражения, для этого создал отдельный файл pattern.py где описал формат для URL хоста.
Потом подключил к основному файлу этот "конфиг".